<html>
<head><title>P&aacute;gina aburrida de inicio</title></head>
<body>
&Eacute;sto es una p&aacute;gina aburrida de inicio<br />
Y se ejecuta en {{ ansible_nodename }}
</body>
</html>
<h1 style="color: #5e9ca0;">Fernando <span style="color: #2b2301;">hazme un jenkiiins</span> !</h1>

